/* les polices google font*/
/*titre*/@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


/*text*/@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: #00A8AA; 

  font-family:'Titillium Web', sans-serif; 
 font-size: 100%;
 }
 
/*le header*/ 
 nav{
 display:flex;
 justify-content: center;
 flex-wrap:wrap;
 align-items:center;
 border-bottom: 10px solid#717171;
 
 
 }
 
 
 nav .onglets a:hover{
 
 color:#A8CEFF;

 }
 
 nav .onglets a:active, a:focus {
 color: #002756;
 
}

 
 
 
 
 
nav h1 {
 font-size: 35px; 
 color: #717171; 

 font-family: 'Playfair Display', sans-serif; 
 }
 nav .onglets {
 
  margin-left: 250px;
   
 
 }
 
 nav .onglets a{
 text-decoration : none;
  color: #FFF;
  margin-right: 15px;
  
   padding-bottom:2px;
 
 }
 
 header{
 display:flex;
 flex-direction: column;
 align-items:center;
 color: #FFF;
  background-image: url('img.jpeg');
  background-size: cover;
  padding:40px;

 }
 
 
 
 header h1{
 font-family: 'Playfair Display', sans-serif; 
 font-size: 45px; 
 }
 

 /*section*/
.principale{

margin-top:40px;
display:flex;
flex-direction: column;
align-items:center;




}

.principale .contenu .group .image img{

height: 300px;
width:400px;


}



.principale .contenu .group{
display:flex;
justify-content:center;
margin-bottom:20px;

}


.principale .contenu .group .txt{
flex: 0 0 30%;
padding: 20px;

 background-color:#717171; 
 color:#FFF;

}



.principale .contenu .group .image img{
flex: 0 0 70%;

}

/*footer*/


footer{
margin-top:40px;
border-top: 10px solid#717171;
padding: 30px 100px;

}


footer h1{

font-family:'Playfair Display', sans-serif;
color:#717171;
border-bottom:2px solid#717171;
width: 15%;
padding-bottom:2px;
}


footer .valeurs{
margin-top: -15px;
display:flex;

}


footer .valeurs .valeur{

margin-right: 22px;
padding:30px;

}


footer a {

color:#686868;
text-decoration: none;
}
a:visited {
 color:#686868;
 }
a:hover {
 color: #D5E7FF;
 
}
a:active, a:focus {
 color: #A8CEFF;
}



footer h2 {
color:#717171;

}
 footer p{
 color:#FFF;
 }

footer#res{
padding: 30 150px ;

}








